<?xml version="1.0"?>
<ruleset name="WP Santo do Dia">
	<description>WordPress coding standards for WP Santo do Dia.</description>

	<file>santododia.php</file>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress.Security"/>

	<config name="minimum_supported_wp_version" value="6.3"/>
</ruleset>
