<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true"
	executionOrder="random"
	resolveDependencies="true"
>
	<testsuites>
		<testsuite name="WP Santo do Dia">
			<directory suffix="Test.php">tests</directory>
			<exclude>tests/integration</exclude>
		</testsuite>
	</testsuites>
</phpunit>
